<%- include ('../partials/header0') %>
<style>
    .providerName{
    color:#999    
    }
    .providerName:hover{
        color:#38d39f;
    }
    .showMore:hover{
        color:#38d39f;
    }
    .btn{
        background-color:#38d39f;;
    }
    .btn a{
        color:white
    }
    .btn:hover a{
        color:#999;
    }
</style>


<div class="container-fluid">
    <div class="row m-3">
        <h3>
            <a class="providerName""
                href="/vendorProfile/<%=service.provider.id%>"><%=service.provider.username%>
            </a>
        </h3>
    </div>
            <div class="row">
                <div class="col-12 col-lg-3">
                        <div>
                            <h5><i class="fab fa-servicestack"></i> <%=service.type%></h5>
                        </div>
                        <div>
                            <h5><i class="fas fa-map-marker-alt"></i>  <%=service.city%></h5>
                        </div>
                        <div>
                            <h5><i class="fas fa-tags"></i>  <%=service.price%></h5>
                        </div>
                    <hr>
                        <div>
                                <p><%=service.description%></p>
                        </div>
                    <hr>
                        <div>
                            <button type="button" class="btn">
                                <a href="/user/addService/<%=service._id%>">Add Service</a>
                            </button>
                        </div>
                        <div>
                            <p><a href="/vendorProfile/<%=service.provider.id%>" class="showMore">About <%=service.provider.username%> and services</a></p>
                        </div>
                    <hr>
                </div>
                <div class="col-12 col-lg-9">
                    <center><h3>Gallery</h3></center>
                    <div class="row">
                        <% service.image.forEach(function(image){ %>
                            <div class="col-12 col-lg-4">
                                <img class="card-img-top" src="<%=image%>" alt="" style="max-height: 35vh;"/>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
</div>

<%- include ('../partials/footer0') %>