<%- include ('./partials/header') %>

    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row">
                <div class="col-md-6">
                    <center>
                        <h3>Provider: <%=vendor.username%></h3>
                    </center>                 
                </div>     
                <div class="col-md-6">
                    <center>
                        <h3>Email : <%=vendor.email%></h3>
                    </center>
                </div>
        </div>
         <hr>
         <br><br>
         <%vendor.services.forEach(function(service){%>
            <div class="row">
                <div class="col-md-3">
                    <center>
                        Type : <%=service.type%>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        City : <%=service.city%>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        Price : <%=service.price%>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <button type="button" class="btn btn-secondary btn-md"><a style="color:white" href="/services/<%=service._id%>">Show More</a></button>
                    </center>
                </div>
            </div>
            <hr>
         <%})%>
    </div>

