<%- include ('./partials/header0') %>

<div class="container-fluid">
    <div class="row m-3">
        <h3>
            <a style="color: black;"
                href="/provider/profile/<%=service.provider.id%>"><%=service.provider.username%></a>
        </h3>
    </div>
    <div class="row m-3">
        <% service.image.forEach(function(image){ %>
        <div class="col-md-4">
            <img class="card-img-top" src="<%=image%>" alt="" />
        </div>
        <% }); %>
    </div>
    <hr />
    <div class="row m-2">
        <div class="col-md-4">
            <h5>Type : <%=service.type%></h5>
        </div>
        <div class="col-md-4">
            <h5>City : <%=service.city%></h5>
        </div>
        <div class="col-md-4">
            <h5>Price : <%=service.price%></h5>
        </div>
    </div>
    <hr />
    <div class="row m-3">
        <div>
            <h4><%=service.description%></h4>
        </div>
    </div>
    <hr />
    <div class="row m-3">
        <button type="button" class="btn btn-secondary btn-lg">
            <a style="color: white;" href="/user/addService/<%=service._id%>">Add Service</a>
        </button>
    </div>
    <div class="row m-3">
        <p><a href="/provider/profile/<%=service.provider.id%>">About <%=service.provider.username%> and services</a></p>
    </div>
</div>

<%- include ('./partials/footer0') %>