<%- include ('./partials/header') %>

    <div class="container-fluid">
        <div class="row m-2">
                <div class="col-md-6">
                    <center>
                        <h3>Provider: <%=service.provider.username%></h3>
                    </center>                 
                </div>     
                <div class="col-md-6">
                    <center>
                        <h3><a href="/provider/profile/<%=service.provider.id%>">About Provider</a></h3>   
                    </center>
                </div>
        </div>
        <div class="row m-3">
            <% service.image.forEach(function(image){ %> 
                 <div class="col-md-3">
                     <img class="card-img-top" src="<%=image%>" alt="">
                 </div>
             <% }); %> 
         </div>
         <hr>
         <div class="row m-3">
             <div class="col-md-6">
                <h4>Type : <%=service.type%></h4>
             </div>
             <div class="col-md-6">
                <h4>City : <%=service.city%></h4>
             </div>  
         </div>   
        <hr>
        <div class="row m-3">
            <div>
                <h4><%=service.description%></h4>
            </div>
        </div>
        <hr>
        <div class="row m-3">
            <center>
                <button type="button" class="btn btn-secondary btn-lg"><a style="color:white" href="/user/addService/<%=service._id%>">Add Service</a></button>
            </center>
        </div>
    </div>

</body>
</html>