<%- include ('../partials/header0') %>
<style>
    .type{
        padding: 3px;
        background-color:#33BE8F;
        color: white;
        border-radius: 50%;
    }
    .showMore{
        color: #999;
        text-decoration: none;
    }
    .showMore:hover{
	color: #38d39f;
    }
    @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    }

    @media (min-width: 768px) {
        .card-columns {
            column-count: 2;
        }
    }

    @media (min-width: 992px) {
        .card-columns {
            column-count: 3;
        }
    }
</style>

<div class="container-fluid">
    <div class="row mt-2 p-2 ">
            <h3>Welcome <span style="color:#00a36d"><%=user.username%></span></h3>
    </div>
    <h4>Services</h4>
    <hr>

    <div class="card-columns">
        <% services.forEach(function(service){ %>
                <div class="card">
                    <img class="card-img-top" src="<%=service.image[0]%>">
                    <div class="card-body ">
                        <h6 class="card-title type" style="float: left;"><%= service.type %> </h6>
                        <p class="card-title" style="float: right;"><i class="fas fa-tag"></i>  <%= service.price %></p>
                        <br>
                        <hr>
                        <h6 class="card-title" style="float: left;"><i class="fas fa-map-marker"></i>  <%= service.city %> </h6>
                        <h6 class="card-text" style="float: right;"><i class="fas fa-building"></i>  <%= service.provider.username %></h6>
                        <br><hr>
                        <p class="card-text"><%= service.description %> </p>
                        <hr>
                        <a class="showMore" href="/services/<%= service._id %>">Show More</a>
                    </div>
                </div>
        <% }); %>
    </div>

</div>
<hr>
<hr>

<%- include ('../partials/footer0') %>