<%- include ('../partials/header0') %>

<div class="container-fluid" style="margin-top: 10px;">
    <h5 style="margin-left: 8%;">Your Event Basket</h5>
    <hr>
    <br><br>
    <% if(user.services.length == 0){%>
    <h4>You have no services</h4>
    <%}else{user.services.forEach(function(service){%>
    <div class="row">
        <div class="col-md-3">
            <center>
                Type : <%=service.type%>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                City : <%=service.city%>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                Provider : <%=service.provider.username%>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                Price : <%=service.price%>
            </center>
        </div>
    </div>
    <hr>
    <%})}%>
</div>