<%- include ('../partials/header0') %>
<style>
    .serviceProvider{
        color:black;
    }
    .serviceProvider:hover{
        color:#38d39f;
    }
</style>

<div class="container-fluid" style="margin-top: 10px;">
    <h5 style="margin-left: 8%;color: #00a36d;">Your Event Basket <i class="fas fa-shopping-basket"></i></h5>
    <hr>
    <br><br>
    <% if(user.services.length == 0){%>
    <h4>You have no services</h4>
    <%}else{user.services.forEach(function(service){%>
    <div class="row p-1">
        <div class="col-md-3">
                <i class="fab fa-servicestack"></i> <%=service.type%>
        </div>
        <div class="col-md-3">
                <i class="fas fa-map-marker-alt"></i> <%=service.city%>
        </div>
        <div class="col-md-3">
                <a href="/vendorProfile/<%=service.provider.id%>" class="serviceProvider">
                    <i class="fas fa-store-alt"></i> <%=service.provider.username%>
                </a>
        </div>
        <div class="col-md-3 ">
                <i class="fas fa-tags"></i> <%=service.price%>
        </div>
    </div>
    <hr>
    <%})}%>
</div>